.hfeed {

    article {
        margin-bottom: $spacer * 3;

		.wp-post-image {
			margin-bottom: $spacer;
		}

    }

	// #main > .row > div:nth-child(odd) > article > .row.flex-row-reverse {
	// 	flex-direction: row !important;
	// }
}

.post-navigation {
	margin-top: $spacer * 2;

	.nav-links {
		font-weight: $font-weight-bold;
	}

}
